.hero {
  padding: 10% 0;
  background-color: hsla(294, 0%, 100%, 1);
  background-image: radial-gradient(
      at 100% 100%,
      hsla(60, 57%, 89%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 0%, hsla(195, 53%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 12% 0%, hsla(289, 34%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(8, 29%, 77%, 1) 0px, transparent 50%);
}
.heroInner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'title'
    'card'
    'content';
  gap: min(60px, 12vw) 20px;
  @media (--md) {
    grid-template-columns: 1fr minmax(370px, 0.8fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      'title card'
      'content card';
    gap: 48px 20px;
  }
}
.heroTitle {
  grid-area: title;
  font-size: 3.2rem;
  color: var(--black);
  @media (--lg) {
    font-size: 3.8rem;
  }
  @media (--xl) {
    font-size: 4.5rem;
  }
  @media (--xxl) {
    font-size: 5.2rem;
  }
}
.heroContent {
  grid-area: content;

  & h2 {
    color: var(--black);
    margin-top: 2em;
    margin-bottom: 1em;
  }
  & p {
    color: var(--black);
    line-height: 1.75;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  & img {
    max-width: 100%;
    height: auto;
  }
  & :first-child {
    margin-top: 0;
  }
  & :last-child {
    margin-bottom: 0;
  }
}
.heroCard {
  grid-area: card;
  /* flex: 1 1 400px; */
  width: 95%;
  max-width: 380px;
  justify-self: center;

  @media (--sm) {
    width: 400px;
    max-width: 400px;
  }
  @media (--md) {
    justify-self: end;
    width: 100%;
    min-width: 400px;
    max-width: 460px;
    margin-top: 10vh;
  }
  @media (--xl) {
    min-width: 520px;
    max-width: 720px;
  }
  @media (--xxl) {
    font-size: var(--size-4);
  }
}

.card {
  font-size: 1rem;
  @media (--xs) {
    font-size: var(--size-7);
  }
  @media (--sm) {
    font-size: var(--size-6);
  }
  @media (--md) {
    right: -2.5em;
  }
  @media (--xl) {
    font-size: var(--size-5);
  }
  @media (--xxl) {
    font-size: var(--size-4);
  }
}

.guideContent {
  padding-top: 10%;
  padding-bottom: 10%;
  & h1,
  & h2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  & p {
    line-height: 2;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  & img {
    max-width: 100%;
    height: auto;
  }
  & a {
    text-decoration: underline;
  }
  & :first-child {
    margin-top: 0;
  }
  & :last-child {
    margin-bottom: 0;
  }
}
